In [1]:
#Start with importing external libraries
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

#Load the data set
ad_data = pd.read_csv('advertising.csv')

#display first five records
ad_data.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,City,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,Wrightburgh,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,West Jodi,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,Davidton,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,West Terrifurt,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,South Manuel,0,Iceland,2016-06-03 03:36:18,0

In [2]:
ad_data.drop(['City', 'Country', 'Timestamp', 'Ad Topic Line'], axis=1, inplace=True)

In [3]:
#Assign input and output variable.
X = ad_data.drop('Clicked on Ad', axis = 1)
y = ad_data['Clicked on Ad']

In [4]:
#Divide data set into train/test set.
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30, random_state = 101)
print(X_train.count)

<bound method DataFrame.count of      Daily Time Spent on Site  Age  Area Income  Daily Internet Usage  Male
290                     50.52   31     72270.88                171.62     0
167                     86.06   31     53767.12                219.72     1
486                     83.97   40     66291.67                158.42     1
683                     76.83   28     67990.84                192.81     0
876                     67.39   44     51257.26                107.19     0
956                     35.66   36     59240.24                172.57     0
520                     46.61   42     65856.74                136.18     0
183                     67.58   41     65044.59                255.61     1
335                     38.94   41     57587.00                142.67     1
126                     80.31   44     56366.88                127.07     0
227                     34.86   38     49942.66                154.75     0
681                     44.15   28     48867.67                141.96     1
148                     49.78   46     71718.51                152.24     0
856                     82.80   30     58776.67                223.20     1
789                     40.88   33     48554.45                136.18     1
334                     86.38   40     66359.32                188.27     1
975                     39.87   48     47929.83                139.34     1
288                     45.05   42     66348.95                141.36     0
524                     79.91   32     62772.42                230.18     1
607                     65.22   30     66263.37                240.09     1
421                     83.71   45     64564.07                220.48     1
562                     59.52   44     67511.86                251.08     1
717                     85.01   29     59797.64                192.50     0
84                      70.79   31     74535.94                184.10     0
24                      41.39   41     68962.32                167.22     0
974                     41.88   40     44217.68                126.11     1
878                     81.75   43     52520.75                249.45     0
744                     67.35   29     47510.42                118.69     0
721                     43.07   36     60583.02                137.63     1
812                     84.25   32     63936.50                170.90     1
..                        ...  ...          ...                   ...   ...
883                     41.53   42     67575.12                158.81     0
925                     35.98   45     43241.88                150.79     0
371                     36.08   45     41417.27                151.47     1
136                     38.37   36     41229.16                140.46     0
506                     77.05   31     62161.26                236.64     0
623                     87.97   35     48918.55                149.25     1
851                     35.11   35     47638.30                158.03     1
49                      48.01   46     54286.10                119.93     0
40                      84.98   29     57691.95                202.61     0
477                     44.96   50     52802.00                132.71     1
908                     56.91   50     21773.22                146.44     0
5                       59.99   23     59761.56                226.74     1
110                     66.63   60     60333.38                176.98     0
704                     76.02   40     73174.19                219.55     0
732                     83.16   41     70185.06                194.95     0
316                     75.84   21     48537.18                186.98     0
757                     48.86   35     62463.70                128.37     1
936                     63.18   45     39211.49                107.92     0
995                     72.97   30     71384.57                208.58     1
644                     78.35   46     53185.34                253.48     0
552                     56.39   58     32252.38                154.23     0
973                     80.87   28     63528.80                203.30     0
393                     62.26   26     70203.74                202.77     0
75                      64.10   22     60465.72                215.93     0
599                     38.63   48     57777.11                222.11     0
575                     48.86   54     53188.69                134.46     0
838                     44.13   40     33601.84                128.48     1
337                     75.32   28     59998.50                233.60     1
523                     67.94   43     68447.17                128.16     0
863                     76.64   39     66217.31                241.50     1

[700 rows x 5 columns]>

In [5]:
#Import the Logistic Regression Model & Train/Tet the model
from sklearn.linear_model import LogisticRegression

#Initialize the model to null
logmodel = LogisticRegression()

# Use fit method to train the model
logmodel.fit(X_train, y_train)

#Use predict method to test the model
predictions = logmodel.predict(X_test)

In [6]:
#Import Classification report from sklearn to show the analysis
from sklearn.metrics import classification_report

# Show classification report parameters
print (classification_report(y_test, predictions))

             precision    recall  f1-score   support

          0       0.91      0.95      0.93       157
          1       0.94      0.90      0.92       143

avg / total       0.92      0.92      0.92       300

In [7]:
from sklearn.ensemble import RandomForestClassifier

rfModel = RandomForestClassifier(n_estimators = 100)
rfModel.fit(X_train, y_train)
predictions = rfModel.predict(X_test)
print (classification_report(y_test, predictions))

             precision    recall  f1-score   support

          0       0.95      0.97      0.96       157
          1       0.96      0.94      0.95       143

avg / total       0.96      0.96      0.96       300